* {
    background-color: wheat;
}

table {
    border: 2px solid black;
}

td {
    height: 60px;
    width: 60px;
}

.interactiveButton {
    position: fixed; /* Fixed/sticky position */
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid black; /* Add borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    width: 150px; /* Ensure all buttons are same width */
    height: 60px; /* Ensure all buttons are same height */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

.interactiveButton:hover {
    background-color: red;
}