{% extends "base.html" %}

{% block content %}
    
    <div class="container-fluid">
        <h1>Global Ranking</h1>
    </div>
    <div>
        <h3>High Scores from Users:</h3>
        {% for score in score_global %}
            <li class="list-group-item">{{ score }}</li>
        {% endfor %}
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Daily Highscores</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Freeplay Highscores</button>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            {% for score in score_daily %}
                <li class="list-group-item">{{ score }}</li>
            {% endfor %}
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <p>test</p>
            {% for score in score_freeplay %}
                <li class="list-group-item">{{ score }}</li>
            {% endfor %}
        </div>
    </div>

{% endblock %}