{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class = "row">
        <div class="col-xs-12">
            <h1 class="credits_header">Credits</h1>
            <br>
            <h3 class="credits_header">Developers</h3>
                <p class="credits_paragraph">Joo Kai Tay and Josh Wyatt</p>
                <br>
            <h3 class="credits_header">Playtesters (and their highscores)</h3>
                <p class="credits_paragraph">Trinity Elsom (???), ...</p>
                <br>
            <h3 class="credits_header">External Libraries</h3>
                <p class="credits_paragraph">AJAX and Bootstrap</p>
                <br>
            <h3 class="credits_header">Based on Cartographers: A Roll Player Tale</h3>
                <p class="credits_paragraph">by Jordy Adan, John Brieger, Lucas Ribeiro, <br>and Thunderworks Games</p>
            <!--Source: https://www.pngitem.com/middle/bmohxh_scroll-vector-png-dead-crow-a-samad-said/ -->
            <img src ="{{url_for('static', filename = 'images/scroll_credits.png')}}" class="credits_scroll" alt="Image of an open scroll">
        </div>
    </div>
</div>

{% endblock %}