{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class = "row">

        <div class="col-xs-12">
                <h1 class="credits_header">Credits</h1>
                <h3 class="credits_header">Developers</h2>
                <p class="credits_paragraph">This is a game created by Joo Kai Tay and Josh Wyatt</p>
                <h3 class="credits_header">Special Thanks</h2>
                <p class="credits_paragraph">The University of Western Australia <br> Tim French</p>
                <!--Source: https://www.pngitem.com/middle/bmohxh_scroll-vector-png-dead-crow-a-samad-said/-->
                <img src ="{{url_for('static', filename = 'images/scroll_credits.png')}}" class="credits_scroll">
        </div>

    </div>

{% endblock %}