{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class = "row">
        <div class="col-xs-12">
            <div class="credits_paragraph">
                <h1>Credits</h1>
                <br>
                <h3>Developers</h3>
                <p>Joo Kai Tay and Josh Wyatt</p>
                <br>
                <h3>Playtesters (and their highscores)</h3>
                <p>Trinity Elsom (???), ...</p>
                <br>
                <h3>External Libraries</h3>
                <p>AJAX and Bootstrap</p>
                <br>
                <h3>Based on Cartographers: A Roll Player Tale</h3>
                <p>by Jordy Adan, John Brieger, Lucas Ribeiro, <br>and Thunderworks Games</p>
            </div>
            <!--Source: https://www.pngitem.com/middle/bmohxh_scroll-vector-png-dead-crow-a-samad-said/ -->
            <img src ="{{url_for('static', filename = 'images/scroll_credits.png')}}" class="credits_scroll" alt="Image of an open scroll">
        </div>
    </div>
</div>

{% endblock %}