{% extends "base.html" %}

{% block content %}

    <div class = "row">

        <div class="col-xs-12 hero-text">
            <h1 class="hero-title">Cartographers</h1>
            <br>
            <div class="d-grid gap-2 col-xs-12">
                <a class="btn btn-primary btn_daily mx-auto col-xs-12 col-lg-6" href="{{url_for('game', type = 'daily')}}" role="button">Daily</a>
                <a class="btn btn-primary btn_freeplay mx-auto col-xs-12 col-lg-6" href="{{url_for('game', type = 'freeplay')}}" role="button">Freeplay</a>
            </div>
            <br>
            <div class="d-grid gap-2 d-lg-block">
                <a class="btn btn-primary btn_sec" href="{{url_for('rules')}}" >Rules</a>
                <a class="btn btn-primary btn_sec" href="{{url_for('leaderboard')}}" >Leaderboard</a>
            </div>
        </div>
    </div>

{% endblock %}