{% extends "base.html" %}

{% block content %}
    
    <div class="container-fluid leaderboard-text">
        <h1>Global Ranking</h1>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link leaderboard-page-button active" id="daily-tab" data-bs-toggle="tab" data-bs-target="#daily" type="button" role="tab" aria-controls="daily" aria-selected="true">Daily</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link leaderboard-page-button" id="freeplay-tab" data-bs-toggle="tab" data-bs-target="#freeplay" type="button" role="tab" aria-controls="freeplay" aria-selected="false">Freeplay</button>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content leaderboard-text">
        <div class="tab-pane active" id="daily" role="tabpanel" aria-labelledby="daily-tab">
            <h1>Daily Highscores</h1>
            <label for="selection">Select date:</label>
            <input id='leaderboard_daily_date' type="date" value="2022-05-01">
            <button id = "submit_btn" type="button" onclick="postDate()">Submit</button>
            <br>
            <ul>
                {% for score in score_daily %}
                    <li class="list-group-item leaderboard-text" name="dailyScore">{{ score }}</li>
                {% endfor %}
            </ul>
            <h3>Your highest attempt:</h3>
            <ul>
                <li id="leaderboard_dailyHighscore">{{ daily_highscore }}</li>
            </ul>
        </div>
        <div class="tab-pane" id="freeplay" role="tabpanel" aria-labelledby="freeplay-tab">
            <h1>Freeplay Highscores</h1>
            <ul>
                {% for score in score_freeplay %}
                    <li class="list-group-item" name="freeplayScore">{{ score }}</li>
                {% endfor %}
            </ul>
            <br>
            <h3>Your highest attempt:</h3>
            <ul>
                <li id="leaderboard_freeplayHighscore">{{ freeplay_highscore }}</li>
            </ul>
        </div>
    </div>

{% endblock %}