<h1>Daily Highscores</h1>
<label for="leaderboard_daily_date">Select date:</label>
<input type="date" id='leaderboard_daily_date' value="2022-05-01">
<button id ="submit_btn" type="button" onclick="postDate()">Submit</button>
<br>
<ul>
{% for score in score_daily %}
    <li class="list-group-item leaderboard-text dailyScore">{{ score }}</li>
{% endfor %}
</ul>
<br>
<h3>The average score for the day:</h3>
<ul>
    <li id="leaderboard_dailyAvg">{{ daily_avg }}</li>
</ul>
<h3>Your highest attempt:</h3>
<ul>
    <li id="leaderboard_dailyHighscore">{{ daily_highscore }}</li>
</ul>