{% extends "base.html" %}

{% block content %}
    
    <div class="container-fluid">
        <h1>Welcome back {{user.username}}!</h1>
        <p>You can view your own scores below:</p>
        <li>Total number of games played: {{ total_games }}</li>
        <li>Your average points: {{ total_avg[0][0] }}</li>

    </div>

    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Daily</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Freeplay</button>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h1>Daily Highscores</h1>
            <li>Total number of dailies completed: {{ dy_games }}</li>
            <li>Your daily average points: {{ dy_avg[0][0] }}</li>
            <br>
            {% for score in score_daily %}
                <li class="list-group-item">{{ score }}</li>
            {% endfor %}
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h1>Freeplay Highscores</h1>
            <li>Total number of freeplay games played: {{ fp_games }}</li>
            <li>Your freeplay average points: {{ fp_avg[0][0] }}</li>
            <br>
            {% for score in score_freeplay %}
                <li class="list-group-item">{{ score }}</li>
            {% endfor %}
        </div>
    </div>

{% endblock %}