{% extends "base.html" %}

{% block content %}
    
    <div class="container-fluid scores profile-text">
        <h1>Welcome back {{user.username}}!</h1>
        <p>You can view your own scores below:</p>
        <li>Total number of games played: {{ total_games }}</li>
        <li>Your average points: {{ total_avg[0][0] }}</li>

    </div>

    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link profile-page-button active" id="daily-tab" data-bs-toggle="tab" data-bs-target="#daily" type="button" role="tab" aria-controls="daily" aria-selected="true">Daily</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link profile-page-button" id="freeplay-tab" data-bs-toggle="tab" data-bs-target="#freeplay" type="button" role="tab" aria-controls="freeplay" aria-selected="false">Freeplay</button>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content scores profile-text">
        <div class="tab-pane active" id="daily" role="tabpanel" aria-labelledby="daily-tab">
            <h1 class="scores">Daily Highscores</h1>
            <ul>
                <li>Total number of dailies completed: {{ daily_games }}</li>
                <li>Your daily average points: {{ daily_avg[0][0] }}</li>
            </ul>
            <br>
            <h3>The highest score you achieved in this mode:</h3>
            <ul class="list-group-item">
                <li>{{ daily_highscore }}</li>
            </ul>
            <br>
            <h3>Your Recent Daily Scores:</h3>
            <ul class="list-group-item">
                {% for score in score_daily %}
                    <li>{{ score }}</li>
                {% endfor %}
            </ul>
            <br>
        </div>
        <div class="tab-pane" id="freeplay" role="tabpanel" aria-labelledby="freeplay-tab">
            <h1>Freeplay Highscores</h1>
            <ul>
                <li>Total number of freeplay games played: {{ freeplay_games }}</li>
                <li>Your freeplay average points: {{ freeplay_avg[0][0] }}</li>
            </ul>
            <br>
            <h3>The highest score you achieved in this mode:</h3>
            <ul class="list-group-item">
                <li>{{ freeplay_highscore }}</li>
            </ul>
            <br>
            <h3>Your Recent Freeplay Scores:</h3>
            <ul class="list-group-item">
                {% for score in score_freeplay %}
                    <li>{{ score }}</li>
                {% endfor %}
            </ul>
            <br>
        </div>
    </div>

{% endblock %}