{% extends "base.html" %}

{% block content %}

<div class="container-fluid"> 
    <div class = "row">
        <div class="col-xs-12">
            <h1 class="rules_header">Rules</h1>
            <br>
            <!--Source: https://www.thunderworksgames.com/uploads/1/1/6/3/11638029/cartographers_rulebook_website.pdf -->
            <div class="rules_paragraph" style="overflow-y:scroll; max-height:60vh; max-width:600px; overflow-wrap:break-word;">
                <h3>Introduction</h3>
                <em>
                <p>
                    Queen Gimnax has ordered the reclamation of the northern lands. 
                    As a cartographer in her service, you are sent to map this territory, claiming it for 
                    the Kindgom of Nalos. Through official edicts, the queen announces which lands she 
                    prizes most, and you will increase your reputation by meeting her demands. 
                </p>
                <p>
                    But you are not alone in this wilderness. The Dragul contest your claims with their 
                    outposts, so you must draw your lines carefully to reduce their influence. 
                </p>
                <p>
                    Reclaim the greatest share of the queen's desired lands and you will be declared the 
                    greatest cartographer in the kingdom.
                </p>
                </em>
                <br>
                <h3>Overview</h3>
                <p>
                    In Cartographers, your goal is to earn as many points as you can by the time three seasons have passed.
                </p>
                <p>
                    Each season, you will place terrain pieces on the map and earn points by carrying out the queen's edict before 
                    the season is over.
                </p>
                <br>
                <h3>Overview</h3>
            </div>
            <!--Source: https://www.pngitem.com/middle/bmohxh_scroll-vector-png-dead-crow-a-samad-said/ -->
            <img src ="{{url_for('static', filename = 'images/scroll_credits.png')}}" class="rules_scroll" alt="Image of an open scroll">
        </div>
    </div>
</div>

{% endblock %}