{% extends "base.html" %}

{% block content %}

<div class="container-fluid"> 
    <div class = "row">
        <div class="col-xs-12">
            <h1 class="rules_header">Rules Page</h1>
            <br>
            <p class="rules_paragraph">Rules go here!</p>
            <!--Source: https://www.pngitem.com/middle/bmohxh_scroll-vector-png-dead-crow-a-samad-said/-->
            <img src ="{{url_for('static', filename = 'images/scroll_credits.png')}}" class="rules_scroll" alt="Image of an open scroll">
        </div>
    </div>
</div>

{% endblock %}