{% extends "base.html" %}

{% block content %}

<div class="container-fluid"> 
    <div class = "row">
        <div class="col-xs-12">
            <h1 class="rules_header">Rules</h1>
            <br>
            <a class="rules_paragraph" style="display:block;" target="_blank" href="https://www.thunderworksgames.com/uploads/1/1/6/3/11638029/cartographers_rulebook_website.pdf">Official Rules for Cartographers: A Roll Player Tale by Thunderworks Games</a>
            <br>
            <!--Source: https://www.thunderworksgames.com/uploads/1/1/6/3/11638029/cartographers_rulebook_website.pdf -->
            <div class="rules_paragraph" style="overflow-y:scroll; max-height:52vh; max-width:600px; overflow-wrap:break-word;">
                <h3>Introduction</h3>
                <p>
                    <em>
                    Queen Gimnax has ordered the reclamation of the northern lands. 
                    As a cartographer in her service, you are sent to map this territory, claiming it for 
                    the Kindgom of Nalos. Through official edicts, the queen announces which lands she 
                    prizes most, and you will increase your reputation by meeting her demands. 
                    </em>
                </p>
                <p>
                    <em>
                    But you are not alone in this wilderness. The Dragul contest your claims with their 
                    outposts, so you must draw your lines carefully to reduce their influence. 
                    </em>
                </p>
                <p>
                    <em>
                    Reclaim the greatest share of the queen's desired lands and you will be declared the 
                    greatest cartographer in the kingdom!
                    </em>
                </p>
                <br>
                <h3>Overview</h3>
                <p>
                    In Cartographers, your goal is to earn as many points as you can by the time <b>three</b> seasons have passed.
                </p>
                <br>
                <h3>How To Play</h3>
                <p>
                    Each season you will place terrain pieces on the map until there are no pieces remaining this season, at which point the season is scored.
                </p>
                <p>
                    There are seven terrain types in Cartographers: <b><span style="color:green">Forests (green)</span>, <span style="color:red">Villages (red)</span>, 
                    <span style="color:yellow; text-shadow: 0px 0px 6px black;">Farms (yellow)</span>, <span style="color:blue">Rivers (blue)</span>, 
                    <span style="color:black">Abysses (black)</span>, <span style="color:brown">Mountains (brown and </span> <span style="color:grey">grey)</span>,</b> and 
                    <b><span style="color:purple">Monsters (purple)</span></b>. 
                </p>
                <p>
                    Monster spaces will appear in random locations whenever an <b>ambush</b> occurs. You may also see <b><span style="color:orange">orange</span></b> spaces. 
                    These occur where your current terrain piece is overlapping with a filled space on the map. A piece can only be placed if it does not overlap any filled spaces.
                </p>
                <br>
                <h3>Scoring</h3>
                <p>
                    At the end of each season you will earn or lose points from several sources: 
                </p>
                <p>
                    You will <b>gain</b> points based on the <b>score card(s)</b> corresponding to the season. 
                </p>
                <p>
                    When scoring, adjacency is only determined cardinally and a cluster is a group of connected spaces that all have the same terrain type.
                </p>
                <p>
                    You will <b>gain</b> points equal to the number of <b>coins</b> you currently have. Coins persist from season to season.
                </p>
                <p>
                    You can gain coins by claiming mountains and placing some pieces. Mountains can be claimed by filling the four cardinally adjacent spaces
                </p>
                <p>
                    You will <b>lose</b> points for every empty space that is cardinally adjacent to at least one <b>monster space</b> on the map.
                </p>
                <p>
                    That's it for the rules! Now go and play some games!
                </p>
            </div>
            <!--Source: https://www.pngitem.com/middle/bmohxh_scroll-vector-png-dead-crow-a-samad-said/ -->
            <img src ="{{url_for('static', filename = 'images/scroll_credits.png')}}" class="rules_scroll" alt="Image of an open scroll">
        </div>
    </div>
</div>

{% endblock %}